.container {
    display: flex;
    max-width: 700px;
    box-shadow: 4px 5px 5px 0px lightgray;
    border-radius: 10px;
    justify-content: space-between;
    margin: 3em 3em;
    padding: 0em 1em;
    background-color: white;
}

.arrow {
    background: none;
    border: none;
    font-size: 2rem;
}