.row {
    display: inline-flex;
    gap: 0.5em;
    margin-top: 0.5rem;
}

.row>* {
    font-size: 1rem;
    padding: 0.5em;
}

.submit {
    background-color: lightblue;
    box-shadow: 3px 2px 5px 0px lightgray;
    padding: 0.5em;
    border-radius: 10px;
    width: 100px;
    font-size: 1rem;
    font-weight: 600;
}

.error {
    font-weight: 600;
}