@import "../../constants/colors.css";

.navbar {
    display: flex;
    padding: 1em;
    margin-left: 1%;
}

.pages {
    position: absolute;
    display: flex;
    right: 0;
    gap: 1rem;
    margin-right: 1%;
    margin-top: -1em;
    font-size: 1.2rem;
}

.pages h3:hover{
    color: var(--lightblue);
    text-decoration: underline;
}